<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018 - 2021</p>
              <div class="h5">Software engineering </div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">National engineering diploma</div>
               <h4 class="category">ESPRIT
               </h4>
               <ul>
                <li> the first year englobed mathematics, web, mobile and desktop development<b>I chose the web development field in the second year as a branch</b> </li>

                <li> Participated in the first 3 months national hackathon OnshorHack <b>ranks 4th</b> </li>
                    <li>Participated in the first online Hackathon for covid-19 Hack4-Covid19 ranks 5th.</li>
                 
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2015 - 2018</p>
              <div class="h5">Computer science</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor's degree</div>
               <h4 class="category">ISET Djerba
               </h4>
               <ul>
                <li>
                  I chose the MWD(multimedia and web development) in which is focused on the web field and all the multimedia aspects 
                
                                  </li>
                                  <li>
                                    some applied mathematics were involved during the courses
                                  </li>
                                  <li>
                                      completed my bachelor's degree with <b> 14/20</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>