<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/cms1.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">P2CMS project</h4>
          <h5 class="card-text"><b>Technology :</b> MERN STACK: Mongodb|Express|ReactJs|NodeJs </h5>
          <h5 class="card-text"><a href="#">Live demo soon</a></h5>
    
          <a href="#" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
            <a href="#" class="btn btn-primary stretched-link">GithubLink</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/technipack.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">E-commerce website </h4>
           <h5 class="card-text"><b>Technology :</b>Laravel </h5>
    
           <h5 class="card-text"><a href="#">Live demo soon</a></h5>
    
        <a href="#" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
          <a href="#" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/ecosys.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">EcoSystem web application</h4>
          <h5 class="card-text"><b>Technology :</b> Symfony </h5>
          <h5 class="card-text"><a href="#">Live demo soon</a></h5>
    
          <a href="#" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
            <a href="#" class="btn btn-primary stretched-link">GithubLink</a>     </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/ecomm.webp" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">E-commerce website using CodeIgnier</h4>
         <h5 class="card-text"><b>Technology :</b> HTML5,CSS3,JS,MYSQL,CodeIgniter3 </h5>
         <h5 class="card-text"><a href="#">Live demo soon</a></h5>
    
         <a href="#" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
           <a href="#" class="btn btn-primary stretched-link">GithubLink</a>      </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/ionic3covid.PNG" alt="Card image" style="width:50%">
        <div class="card-body">
          <h4 class="card-title">Ionic3 Covid-19 live cases(not finished)</h4>
           <h5 class="card-text"><b>Technology :</b> Ionic3 </h5>
           <h5 class="card-text"><a href="#">Live demo soon</a></h5>
    
           <a href="#" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
             <a href="#" class="btn btn-primary stretched-link">GithubLink</a>      </div>
      </div>
        </div>
        </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" >
        <img class="card-img-top" src="assets/images/crm.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">CRM Project </h4>
           <h5 class="card-text"><b>Technology :</b> JAVAEE, Angular </h5>
           <h5 class="card-text"><a href="#">Live demo soon</a></h5>
    
           <a href="#" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
             <a href="#" class="btn btn-primary stretched-link">GithubLink</a>      </div>
      
        </div>
        </div>
        </div>
    
  
    
      
    
    
    </div>
    </div>
  </div>